<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="utf-8">
  </head>
  <body>
    <h1>Welcome to knu_project</h1>
    <form class="" action="/registermember" method="post">
      <input type="email" name="email" value="" placeholder="E-mail">
      <br>
      <input type="password" name="password" value="" placeholder="Password">
      <br>
      <input type="text" name="nick" value="" placeholder="닉네임">
      <br>
      <input type="submit" value="submit">
    </form>
  </body>
</html>
