<!DOCTYPE html>
<html>

<head>
    <% include ./header.ejs %>
    <script src="/javascripts/ckeditor.js"></script>
    
</head>

<body>
    <div id="app"></div>
    
    <script>
        
        new Vue({
            el: "#app",
            template: `
            <div>
                <v-content>
                    <v-container fluid>
                    <v-layout column>
                        <br>
                        <v-flex xs6 offset-xs3>
                        <v-form action="/board/create" method="post">
                            <v-card color="grey lighten-4" flat>
                                <v-card-text>
                                    <v-subheader>CREATE BOARDER</v-subheader>
                                    <v-container fluid>
                                        <v-layout row>
                                            <v-flex xs12>
                                                <select name="category">
                                                    <option value="common">common</option>
                                                    <option value="important">important</option>
                                                    <option value="etc">etc</option>
                                                </select>
                                                <v-text-field name="title" label="Input Title" hint="At a least 20 characters"></v-text-field>
                                                <textarea id="editor1" name="contents" rows="10" cols="80"></textarea>
                                            </v-flex>
                                        </v-layout>
                                    </v-container>
                                </v-card-text>
                            </v-card>
                            <v-tooltip right>
                                <v-btn type="submit" icon large slot="activator"><v-icon>create</v-icon></v-btn>
                                <span>create</span>
                            </v-tooltip>
                        </v-form>
                        </v-flex>
                    </v-layout>
                    </v-container>
                </v-content>
            </div>
        `,
        data: function () {
            return {
                select: null,
                items: [
                    'common',
                    'important',
                    'etc'
                ]
            }
        },
        methods: {

        },
        computed: {
        }
    })
    CKEDITOR.replace('editor1');
    </script>
</body>

</html>